body {
    padding: 0;
    margin: 0;
}

#navegador {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}
 
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
 
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover{
    background: #808080;
}

nav ul li:hover > ul{
    display:block;
    background: rgba(0,0,0,0.9);
}

nav li ul{
    display:none;
    position:absolute;
    min-width:130px;
}

p {
    margin-bottom: 20px;
}

.contenido {
    font-size:50px;
    text-align:center;
    padding-top: 60px;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

.contenido2 {
    font-size:20px;
    text-align:center;
    padding-top: 5px;
}

.wrapper2 {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

.Opcion{
    float:left;
    margin-left: 35px;
    box-shadow: -9px 2px 51px -2px;
    margin-bottom: 15px;
}

.Imagenes{
    margin-left: 23%;
    margin-right: 23%;
}

.Opcion1{
    float:left;
    margin-left: 35px;
    box-shadow: -9px 2px 51px -2px;
    margin-bottom: 15px;
}

.Imagenes1{
    margin-left: 23%;
    margin-right: 23%;
}
